{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}-Accueil{% endblock %}

{% block body %}
    <div class="lead container d-flex flex-column align-items-end mt-2">
        <p>Date du jour : {{ "now"|date("d/m/Y") }}</p>
        {% if app.user %}
            <p>Participant : {{ app.user.parFirstName }} {{ app.user.parLastName }}</p>
        {% endif %}
    </div>
    <div class="container">
        <h2 class="mb-4">Filtrer les sorties</h2>
        {%  include 'home/_filter.html.twig' %}
    </div>
    <div class="mt-5">
        {% include 'home/_trip_list.html.twig' %}
    </div>
    <div class="d-flex justify-content-center">
        <a href="{{ path('app_trip_new') }}" class="btn btn-primary">
            Créer une sortie
        </a>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}
