{% extends 'base.html.twig' %}

{% block title %}Nouveau participant{% endblock %}

{% block body %}
    <h1 class="text-center mt-3">Création d'un nouveau participant</h1>

    <div class="d-flex flex-column align-items-center mt-5">
        <div class="w-50">


            {{ form_errors(form) }}

            {{ form_start(form) }}
                {{  form_row(form.parUsername, {'attr': {'required': 'required'}}) }}
                {{  form_row(form.parFirstName, {'attr': {'required': 'required'}}) }}
                {{  form_row(form.parLastName, {'attr': {'required': 'required'}}) }}
                {{  form_row(form.parPhone, {'attr': {'required': 'required'}}) }}
                {{  form_row(form.parEmail, {'attr': {'required': 'required'}}) }}
                {{  form_row(form.parSite, {'attr': {'required': 'required'}}) }}
                {{  form_row(form._token) }}

            <div class="d-flex flex-row justify-content-center gap-5 mt-5">
                <button type="submit" class="btn btn-success">Enregistrer</button>
                <button type="reset" class="btn btn-secondary">Effacer</button>
                <a href="{{ path('app_participant_administration') }}"><button type="button" class="btn btn-danger">Annuler</button></a>
            </div>

            {{ form_end(form, {render_rest: false}) }}
        </div>
    </div>
{% endblock %}
