{% extends 'base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <h1 class="text-center mt-3">Créer une sortie</h1>

        {{ form_start(tripForm) }}
        <div class="d-flex flex-row">
            <div class="w-50 m-5">
                {{ form_label(tripForm.triName) }}
                {{ form_widget(tripForm.triName) }}
                {{ form_errors(tripForm.triName) }}

                {{ form_label(tripForm.triStartingDate) }}
                {{ form_widget(tripForm.triStartingDate) }}
                {{ form_errors(tripForm.triStartingDate) }}

                {{ form_label(tripForm.triClosingDate) }}
                {{ form_widget(tripForm.triClosingDate) }}
                {{ form_errors(tripForm.triClosingDate) }}

                {{ form_label(tripForm.triMaxInscriptionNumber) }}
                {{ form_widget(tripForm.triMaxInscriptionNumber) }}
                {{ form_errors(tripForm.triMaxInscriptionNumber) }}

                {{ form_label(tripForm.triDuration) }}
                {{ form_widget(tripForm.triDuration) }}
                {{ form_errors(tripForm.triDuration) }}

                {{ form_label(tripForm.triDescription) }}
                {{ form_widget(tripForm.triDescription) }}
                {{ form_errors(tripForm.triDescription) }}

                {{ form_label(tripForm.state) }}
                {{ form_widget(tripForm.state) }}
                {{ form_errors(tripForm.state) }}

            </div>
            <div class="w-50 m-5">
                {{ form_label(tripForm.triSite) }}
                {{ form_widget(tripForm.triSite) }}
                {{ form_errors(tripForm.triSite) }}

                <div id="locationCity">
                    {{ form_label(locationForm.locCity) }}
                    {{ form_widget(locationForm.locCity) }}
                    {{ form_errors(locationForm.locCity) }}
                </div>

                <div id="locationTrip">
                    {{ form_label(tripForm.triLocation) }}
                    {{ form_widget(tripForm.triLocation) }}
                    {{ form_errors(tripForm.triLocation) }}
                </div>

                <div id="addLocation">
                    <i class="fa-solid fa-circle-plus"></i> Ajouter un lieu
                </div>

                <div id="viewLocation" hidden>
                    {{ form_row(locationForm.locName, {'required' : false }) }}
                    {{ form_errors(locationForm.locName) }}

                    {{ form_row(locationForm.locStreet, { 'required' : false }) }}
                    {{ form_errors(locationForm.locStreet) }}

                    <div class="d-flex flex-row justify-content-between">
                        <div>
                            {{ form_row(cityForm.citPostCode, { 'required' : false }) }}
                            {{ form_errors(cityForm.citPostCode) }}
                        </div>
                        <div>
                            {{ form_row(cityForm.citName, { 'required' : false }) }}
                            {{ form_errors(cityForm.citName) }}
                        </div>
                    </div>

                    {{ form_row(locationForm.locLatitude, { 'required' : false }) }}
                    {{ form_errors(locationForm.locLatitude) }}

                    {{ form_row(locationForm.locLongitude, { 'required' : false }) }}
                    {{ form_errors(locationForm.locLongitude) }}

                </div>


            </div>
        </div>

        <div class="d-flex flex-row justify-content-center m-3 gap-3">
            <button type="submit" class="btn btn-success">Enregistrer</button>
            <button type="submit" class="btn btn-danger">Annuler</button>
        </div>

        {{ form_end(tripForm) }}


</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/addTrip.js") }}"></script>
{% endblock %}